<section class="advertisement-section" id="advertisement">
    <div class="advertisement-container">
        <div class="anim-box">
            <p class="advertisement-p">Master <span class="advertisement-span">your photography</span> skills with us!</p>
            <p class="advertisement-p">Master <span class="advertisement-span">your photography</span> skills with us!</p>
            <p class="advertisement-p">Master <span class="advertisement-span">your photography</span> skills with us!</p>
        </div>        
    </div>
</section>