<footer>
  <div class="container footer_container">
    <div class="footer_navigation_container">
      <div class="navigation">
        <nav class="footer_navigation">
          <a class="footer_link" href="./index.html">
            <svg class="footer_logo" width="127px" height="20px">
              <use href="./img/icons.svg#icon-logo"></use>
            </svg>
          </a>
        </nav>

        <div class="adress-link" id="adress-link">
          <ul class="ul-link">
            <li class="li-link">
              <a class="class-adress-link" href="tel:+380665438912"
                >UK: +38 066 543 8912</a
              >
            </li>
            <li class="li-link">Ukraine, Kyiv</li>
          </ul>
        </div>
      </div>
      <div class="links_and_anchors">
        <div class="links">
          <ul class="links_and_anchors-ul">
            <li class="links_and_anchors-li">
              <a href="https://www.instagram.com/goitclub/">INSTAGRAM</a>
            </li>
            <li class="links_and_anchors-li">
              <a href="https://www.facebook.com/goITclub/">FACEBOOK</a>
            </li>
            <li class="links_and_anchors-li">
              <a href="https://www.youtube.com/c/GoIT">YOUTUBE</a>
            </li>
          </ul>
        </div>
        <div class="wrap">
          <ul class="wrap_anchors">
            <li class="links_and_anchors-li"><a href="#about-us">ABOUT US</a></li>
            <li class="links_and_anchors-li"><a href="#our-courses">OUR COURSES</a></li>
            <li class="links_and_anchors-li"><a href="#our-mentors">OUR MENTORS</a></li>
            <li class="links_and_anchors-li"><a href="#reviews">REVIEWS</a></li>
            <li class="links_and_anchors-li"><a href="#adress-link">CONTACTS</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-subscribe">
        <form class="subscribe-form">
          <label class="subscribe-label">
            <input
              class="subscribe-input"
              type="email"
              name="user-subscribe"
              placeholder="Enter your email"
            />
          </label>
          <button class="subscride-button" type="submit">Go</button>
        </form>
      </div>
    </div>

    <div class="pryvacy_focus_frame">
      <div class="pryvacy">
        <ul class="pryvacy_policy">
          <li class="policy">
            Privacy Policy
            <span class="policy_span">Public Offering Agreement</span>
          </li>
        </ul>
      </div>
      <div class="focus_frame">
        <ul class="frame">
          <li class="focus">
            2023 Focus Frame
            <span class="all_rights">© All rights reserved</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

