<header class="header">
  <div class="container header-wrap">
    <div class="header-menu-wrap">
      <nav class="header-navigation">
        <a class="header-logo" href="./index.html">Focus.Frame</a>
        <ul class="header-menu-list">
          <li class="header-menu-item"><a href="#">About us</a></li>
          <li class="header-menu-item"><a href="#">Our courses</a></li>
          <li class="header-menu-item"><a href="#">Our mentors</a></li>
          <li class="header-menu-item"><a href="#">Reviews</a></li>
          <li class="header-menu-item"><a href="#">contacts</a></li>
        </ul>
        <button type="button" class="header-menu-open-btn">0</button>
      </nav>
    </div>
    <button type="button" class="header-btn">Sign up</button>
  </div>
</header>