<header class="">
  <div class="container header-wrap">
    <div class="header-menu-wrap">
      <nav class="header-navigation">
        <a class="header-logo" href="./index.html">Focus.Frame</a>
        <div>
          <ul class="header-menu-list">
            <li class="header-menu-item"><a>About us</a></li>
            <li class="header-menu-item"><a></a>Our courses</li>
            <li class="header-menu-item"><a></a>Our mentors</li>
            <li class="header-menu-item"><a></a>Reviews</li>
            <li class="header-menu-item"><a></a>contacts</li>
          </ul>
      </nav>
    </div>
    <button type="button" class="header-btn">Sign up</button>
  </div>
</header>