<section class="hero">
  <div class="hero-container">
    <div class="hero-left-container">
      <h1 class="hero-title-origin">
        Discover the magic of
        <span class="hero-title-different">photography</span> in our school
      </h1>
      <p class="hero-info-text">
        Our photography school offers an unforgettable journey, where you can
        learn the basics of composition, master technical skills, translate your
        unique ideas.
      </p>
      <div class="hero-other-block">
        <div class="hero-allstudents-block">
          <div class="hero-students-block">
            <img src="/img/hero/FirstGirl.png" alt="" class="hero-students-img studentimg1" />
            <img src="/img/hero/SecondBoy.png" alt="" class="hero-students-img studentimg2" />
            <img src="/img/hero/ThirdGirl.png" alt="" class="hero-students-img studentimg3" />
          </div>
          <div class="hero-students-descriprion-block">
            <p class="hero-students-description">Our happy students</p>
            <a
              class="hero-arrow-link"
              href=""
              target="_blank"
              rel="no-referrer noopener"
            >
              <svg class="hero-arrow-icon">
                <use href="/src/img/icons.svg#"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="hero-star-block">
          <a
            href=""
            class="hero-star-link"
            target="_blank"
            rel="no-referrer noopener"
          >
            <svg class="hero-star-icon" width="24" height="24">
              <use href="/src/img/icons.svg#icon-star-dark"></use>
            </svg>
          </a>
        </div>
        <div class="hero-revievs-block">
          <p class="hero-revievs">Revievs</p>
          <p class="hero-number-revievs">+1500</p>
        </div>
      </div>
    </div>
    <img 
      src="/img/hero/PhotographerMobile.png" alt="" class="hero-photographer" />
  <div>

</section>
