<section class="hero">
  <div class="hero-container">
    <h1 class="hero-title-origin">
      Discover the magic of
      <span class="hero-title-different">photography</span> in our school
    </h1>
    <p class="hero-info-text">
      Our photography school offers an unforgettable journey, where you can
      learn the basics of composition, master technical skills, translate your
      unique ideas.
    </p>
    <div class="hero-other-block">
      <img src="/src/img/hero/FirstGirl.jpg" alt="" class="hero-students-img" />
      <img src="/src/img/hero/SecondBoy.jpg" alt="" class="hero-students-img" />
      <img src="/src/img/hero/ThirdGirl.jpg" alt="" class="hero-students-img" />
      <p class="hero-students-description">Our happy students</p>
      <a
        class="hero-arrow-link"
        href=""
        target="_blank"
        rel="no-referrer noopener"
      >
        <svg class="hero-arrow-icon">
          <use href="/src/img/icons.svg#"></use>
        </svg>
      </a>
      <div class="hero-star-block">
        <a
          href=""
          class="hero-star-link"
          target="_blank"
          rel="no-referrer noopener"
        >
          <svg class="hero-star-icon" width="24" height="24">
            <use href="/src/img/icons.svg#icon-star-dark"></use>
          </svg>
        </a>
      </div>
      <p class="hero-revievs">Revievs</p>
      <p class="hero-number-revievs">+1500</p>
    </div>
  </div>
  <img src="/src/img/hero/Photographer.jpg" alt="" class="hero-photographer" />
</section>
