<section class="our-courses">
  <div class="container courses-container">
    <div class="courses-title-box">
      <h2 class="courses-title">
        Our <span class="courses-title-span">Courses</span>
      </h2>
      <p class="courses-text">
        At our photography school, we offer a variety of courses that cover all
        aspects of this fascinating art. Regardless of your experience or skill
        level, we have courses to suit your needs and goals.
      </p>
    </div>
    <ol class="courses-list">
      <li class="courses-item">
        <div class="courses-item-box">
          <div class="courses-number">
            <div class="courses-card-num">01</div>
            <div class="courses-icon-box">
              <a class="courses-link" href="#sign-up">
                <svg class="courses-link-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-arrow-up-right"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="courses-card-main">
            <h3 class="courses-subtitle">Basics of photography</h3>
            <p class="courses-text-item">
              During this course, you will be able to familiarize yourself with
              different types of cameras, learn the basics of composition.
            </p>
          </div>
        </div>
      </li>
      <li class="courses-item">
        <div class="courses-item-box">
          <div class="courses-number">
            <div class="courses-card-num">02</div>
            <div class="courses-icon-box">
              <a class="courses-link" href="#sign-up">
                <svg class="courses-link-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-arrow-up-right"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="courses-card-main">
            <h3 class="courses-subtitle">Landscape photography</h3>

            <p class="courses-text-item">
              In this course, you'll learn how to choose the right angles, frame
              landscapes, and create depth and perspective in your images.
            </p>
          </div>
        </div>
      </li>
      <li class="courses-item">
        <div class="courses-item-box">
          <div class="courses-number">
            <div class="courses-card-num">03</div>
            <div class="courses-icon-box">
              <a class="courses-link" href="#sign-up">
                <svg class="courses-link-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-arrow-up-right"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="courses-card-main">
            <h3 class="courses-subtitle">Portrait<br />photography</h3>

            <p class="courses-text-item">
              During this course, you will learn to choose the right lighting,
              reproduce the mood and expressions on the faces of the models.
            </p>
          </div>
        </div>
      </li>
    </ol>
  </div>
</section>
