<section class="our-mentors">
  <div class="container mentors-container">
    <h2 class="mentors-title">Our Mentors</h2>
    <ul class="mentors-list">
      <li class="mentors-item">
        <img
          src="/src/img/our-mentors/emilia.jpg"
          srcset="/src/img/our-mentors/emilia@2x.jpg"
          alt="Photo of Emilia Smith"
          width="180"
          height="180"
        />
      </li>
      <li class="mentors-item">
        <img
          src="/src/img/our-mentors/alex.jpg"
          srcset="/src/img/our-mentors/alex@2x.jpg"
          alt="Photo of Alex Lebedev"
          width="180"
          height="180"
        />
      </li>
      <li class="mentors-item">
        <img
          src="/src/img/our-mentors/mia.jpg"
          srcset="/src/img/our-mentors/mia@2x.jpg"
          alt="Photo of Mia Dubrovska"
          width="180"
          height="180"
        />
        
      </li>
      <li class="mentors-item">
        <img
          src="/src/img/our-mentors/eliot.jpg"
          srcset="/src/img/our-mentors/eliot@2x.jpg"
          alt="Photo of Eliot Kovalev"
          width="180"
          height="180"
        />
      </li>
    </ul>
  </div>
</section>
