<section class="our-mentors">
  <h2 class="mentors-title">
    Our<span class="mentors-title-part">Mentors</span>
  </h2>
  <div class="container mentors-container">
    <ul class="mentors-list">
      <li class="mentors-item">
        <img
          src="/img/our-mentors/emilia.jpg"
          srcset="/img/our-mentors/emilia@2x.jpg"
          alt="Photo of Emilia Smith"
          width="180"
          height="180"
          class="mentors-img"
        />

        <div class="mentors-item-wrap">
          <h3 class="mentors-item-title">Emilia Smith</h3>
          <p class="mentors-item-text">1.5 years of experience</p>
        </div>
      </li>

      <li class="mentors-item">
        <img
          src="/img/our-mentors/alex.jpg"
          srcset="/img/our-mentors/alex@2x.jpg"
          alt="Photo of Alex Lebedev"
          width="180"
          height="180"
          class="mentors-img"
        />

        <div class="mentors-item-wrap">
          <h3 class="mentors-item-title">Alex Lebedev</h3>
          <p class="mentors-item-text">3.5 years of experience</p>
        </div>
      </li>

      <li class="mentors-item">
        <img
          src="/img/our-mentors/mia.jpg"
          srcset="/img/our-mentors/mia@2x.jpg"
          alt="Photo of Mia Dubrovska"
          width="180"
          height="180"
          class="mentors-img"
        />

        <div class=“mentors-item-wrap”>
          <h3 class=“mentors-item-title”>Mia Dubrovska</h3>
          <p class=“mentors-item-text”>2.0 years of experience</p>
        </div>
      </li>

      <li class="mentors-item">
        <img
          src="/img/our-mentors/eliot.jpg"
          srcset="/img/our-mentors/eliot@2x.jpg"
          alt="Photo of Eliot Kovalev"
          width="180"
          height="180"
          class="mentors-img"
        />

        <div class="mentors-item-wrap">
          <h3 class="mentors-item-title">Eliot Kovalev</h3>
          <p class="mentors-item-text">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
