<section class="reviews">
  <div class="container reviews-wrap">
    <h2 class="mentors-title">Reviews</h2>
    <ul class="reviews-items">
      <li class="reviews-items-li">
        <div class="reviews-items-li-head">
          <div class="reviews-li-div-card">
            <img
              src="./img/reviews/user-man.png"
              alt="Abraham Baker"
              width="56"
            />
            <div class="reviews-li-card-text">
              <h3 class="mentors-item-title reviews-li-h3">Abraham Baker</h3>
              <p class="mentors-item-text reviews-li-p">Student</p>
            </div>
          </div>
          <ul class="reviews-items-rating">
            <li class="reviews-li-stars">
              <svg class="reviews-star-icon-active" width="18" height="18">
                <use href="./img/icons.svg#icon-star-empty"></use>
              </svg>
            </li>
            <li class="reviews-li-stars">
              <svg class="reviews-star-icon-active" width="18" height="18">
                <use href="./img/icons.svg#icon-star-empty"></use>
              </svg>
            </li>
            <li class="reviews-li-stars">
              <svg class="reviews-star-icon-active" width="18" height="18">
                <use href="./img/icons.svg#icon-star-empty"></use>
              </svg>
            </li>
            <li class="reviews-li-stars">
              <svg class="reviews-star-icon-active" width="18" height="18">
                <use href="./img/icons.svg#icon-star-empty"></use>
              </svg>
            </li>
            <li class="reviews-li-stars">
              <svg class="reviews-star-notactive" width="18" height="18">
                <use href="./img/icons.svg#icon-star-empty"></use>
              </svg>
            </li>
          </ul>
        </div>
        <p class="reviews-description sign-up-par">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </li>

      <li class="reviews-items-li">
        <div class="reviews-items-li-head">
          <div class="reviews-li-div-card">
            <img
              src="./img/reviews/user-girl.png"
              alt="Amanda Lowery"
              width="56"
            />
            <div class="reviews-li-card-text">
              <h3 class="mentors-item-title reviews-li-h3">Amanda Lowery</h3>
              <p class="mentors-item-text reviews-li-p">Student</p>
            </div>
          </div>
          <ul class="reviews-items-rating">
            <li class="reviews-li-stars">
              <svg class="reviews-star-icon-active" width="18" height="18">
                <use href="./img/icons.svg#icon-star-empty"></use>
              </svg>
            </li>
            <li class="reviews-li-stars">
              <svg class="reviews-star-icon-active" width="18" height="18">
                <use href="./img/icons.svg#icon-star-empty"></use>
              </svg>
            </li>
            <li class="reviews-li-stars">
              <svg class="reviews-star-icon-active" width="18" height="18">
                <use href="./img/icons.svg#icon-star-empty"></use>
              </svg>
            </li>
            <li class="reviews-li-stars">
              <svg class="reviews-star-icon-active" width="18" height="18">
                <use href="./img/icons.svg#icon-star-empty"></use>
              </svg>
            </li>
            <li class="reviews-li-stars">
              <svg class="reviews-star-notactive" width="18" height="18">
                <use href="./img/icons.svg#icon-star-empty"></use>
              </svg>
            </li>
          </ul>
        </div>
        <p class="reviews-description sign-up-par">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </li>
    </ul>
  </div>
</section>
