.container {
    margin: 0 auto;
    max-width: 375px;
    min-width: 320px;
      padding-left: 20px;
      padding-right: 20px;
  }
  
  /* @media screen and (min-width: 375px) {
    .container {
      max-width: 375px;
      padding-left: 20px;
      padding-right: 20px;
    }
  } */
  
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1110px;
      padding-left: 15px;
      padding-right: 15px;

      
    }
  }
  
  /* @media screen and (min-width: 1440px) {
    .container {
      max-width: 1240px;
    }
  } */

  body{
    background-color: #121212;
    min-width: 375px;
  }
  