.hero {
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 80px;
    background-image: url(/img/hero/GraphicMobile.png);
}

.hero-container {
    background-color: #1D1D1D;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 777px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;

}

.hero-left-container {
}

.hero-title-origin {
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -1.6px;
    width: 295px;
    margin-bottom: 20px;
}

.hero-title-different {
    color: #BEA69E;
    font-style: italic;
    font-weight: 400;
}

.hero-info-text {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    /*other*/
    width: 295px;
    margin-bottom: 40px;
}

.hero-other-block {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 31px;
}

.hero-allstudents-block {
    display: flex;
    flex-direction: column;
}

.hero-students-block {
    display: flex;
    margin-bottom: 4px;
}

.images-of-students-difres{
    display: flex;
    margin-right: -12px;
}

.images-of-students-difres:last-child {
    margin-right: 0;
}

.hero-students-img {
}

.studentimg1 {
    z-index: 1;
}

.studentimg2 {
    z-index: 0;
}

.studentimg3 {
}

.hero-students-descriprion-block {
    display: flex;
    flex-direction: row;
    height: 36px;
    
}

.hero-students-description {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
    width: 67px;

}

.hero-arrow-link {
    display: flex;
    align-items: center; 
}

.hero-arrow-icon {
    fill: #fff;
    width: 25px;
}
.hero-allrevievs-block {
    display: flex;
    gap: 12px;

}

.hero-star-block {
    background-color: #BEA69E;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
/*--------------------------------WTF HERE--------------------*/
.hero-star-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #BEA69E;


}

.hero-star-icon {
    fill: #BEA69E;
    stroke: #121212;
}

/*--------------------------------WTF HERE--------------------*/

.hero-revievs-block {
    margin: auto 0;
}

.hero-revievs {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
    width: 57px;
    margin-bottom: 4px;
}
.hero-number-revievs {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.64px;
    width: 57px;
}
.hero-photographer {
    margin-left: 18px;
    margin-right: 18px;
}

.hero-photographer-img {
    width: 259px;
    height: 314px;
    object-fit: cover;

}

@media screen and (min-width: 768px) {
    .hero {
        padding-top: 120px;
        padding-bottom: 100px;
        background-image: url(/img/hero/GraphicTeblet.png);
    }

    .hero-container {
        width: 704px;
        height: 900px;
        padding-top: 64px;
        padding-left: 32px;
        padding-right: 155px;
    }

    .hero-title-origin {
        font-size: 60px;
        line-height: 64px;
        letter-spacing: -2.4px;
        width: 517px;
    }

    .hero-info-text {
        width: 418px;
    }

    .hero-other-block {
        margin-bottom: 40px;
    }
    
    .hero-allstudents-block {
        display: flex;
        flex-direction: row;
        gap: 12px;
    }
    
    .hero-students-block {
        margin-bottom: 0;
    }
    
    /* .images-of-students-difres{
        margin-right: -12px;
    }
    
    .images-of-students-difres:last-child {
        margin-right: 0;
    }
     */

     .hero-students-descriprion-block {
        display: flex;
        flex-direction: column;
        height: 56px;
        
    }
    
    .hero-students-description {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.64px;
        width: 82px;
    }
    
}

@media screen and (min-width: 1280px) {
    .hero {
        padding-top: 160px;
        padding-bottom: 150px;
        background-image: url(/img/hero/GraphicDesk.png);
    }

    .hero-container {
        width: 1080px;
        height: 600px;
        padding-top: 80px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .hero-title-origin {
        font-size: 64px;
        line-height: 68px;
        letter-spacing: -2.56px;
        width: 563px;

    }

    .hero-info-text {
        width: 418px;
        margin-bottom: 136px;
    }

    .hero-other-block {
        margin-bottom: 136px;
    }

}

