.hero {
    max-width: 375px;
    min-width: 320px;
    padding-top: 20px;
    padding-bottom: 80px;
    margin: 0 auto;
}

.hero-container {
    background-color: #1D1D1D;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 777px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 31px;
}

.hero-left-container {
}

.hero-title-origin {
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -1.6px;
    margin-bottom: 20px;
    width: 295px;
}

.hero-title-different {
    color: #BEA69E;
    font-style: italic;
    font-weight: 400;
}

.hero-info-text {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    width: 295px;
    margin-bottom: 40px;
}

.hero-other-block {
    display: inline-flex;
    height: 84px;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 31px;
}

.hero-allstudents-block {
    display: flex;
    flex-direction: column;

}
.hero-students-block {
    display: flex;
    margin-bottom: 4px;
}

.hero-students-img {
    margin-right: -11px; /* Shift images to the left by 12 pixels */
}

.hero-students-img:last-child {
    margin-right: 0; /* Remove margin for the last image */
}

.studentimg1 {
    z-index: 1;
}
.studentimg2 {
    z-index: 0;
}
.studentimg3 {

}

.hero-students-descriprion-block {
    display: flex;
    width: 109px;
    align-items: center;
    align-content: center;
    gap: 4px;
    flex-wrap: wrap;
}

.hero-students-description {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
    width: 67px;
}
.hero-arrow-link {

}

.hero-arrow-icon {
    fill: #fff;
    width: 18px;
    height: 8.66px;
}

.hero-allrevievs-block{
    display: flex;
    align-items: center;
    align-content: center;
}

.hero-star-block {
    height: 50px;
    width: 50px;
    margin-right: 12px;
}

.hero-star-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #BEA69E;

}

.hero-star-icon {
    fill: #BEA69E;
    stroke: #121212;
}

.hero-revievs-block {
}

.hero-revievs {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
    width: 57px;
    margin-bottom: 4px;
}

.hero-number-revievs {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.64px;
    width: 57px;
}

.hero-photographer {
    width: 259px;
    height: 314px;
    margin-right: 18px;
    margin-left: 18px;
}

@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        padding-top: 40px;
        padding-bottom: 100px;
    }

    .hero-container {
        width: 704px;
        height: 900px;
        padding-top: 64px;
        padding-left: 32px;
        padding-right: 155px;
        padding-bottom: 31px;
    }

    .hero-title-origin {
        font-size: 60px;
        line-height: 64px;
        letter-spacing: -2.4px;
        width: 517px;
    }

    .hero-info-text {
        width: 418px;
    }
    

    .hero-photographer {
        margin: 0 auto;
    }
    
}

@media screen and (min-width: 1280px) {
    .hero {
        max-width: 1280px;
        padding-top: 80px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 150px;
        background-image: url("/img/hero/Graphic.png");
    }

    .hero-container {
        flex-direction: row;
        width: 1240px;
        height: 600px;
    }

    .hero-title-origin {
        font-size: 64px;
        line-height: 68px;
        letter-spacing: -2.56px;
        width: 563px;
    }

    .hero-info-text {
        width: 518px;
        margin-bottom: 136px;
    }
    

    .hero-photographer {
        margin-top: 80px;
        margin-right: 50px; 
    }
    
}