.our-courses {
  background-color: #121212;
  padding-bottom: 80px;
}
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.courses-container {
}
.courses-title-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
  align-items: baseline;
  justify-content: center;
}
.courses-title {
  color: #fff;
  font-size: 28x;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}
.courses-title-span {
  color: #bea69e;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}
.courses-text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  max-width: 335px;
}
.courses-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.courses-item {
  max-width: 335px;
  height: 398px;
  padding: 28px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
}
.courses-item-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.courses-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}
.courses-card-num {
  align-self: start;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
.courses-icon-box {
  width: 32px;
  height: 32px;
}
.courses-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  fill: color #777777;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.courses-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.courses-link:hover {
  fill: #ffffff;
  background-color: #bea69e;
}

.courses-card-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: baseline;
}
.courses-subtitle {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
}
.courses-text-item {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

/* ===================768px============================ */
@media screen and (min-width: 768px) {
  .our-courses {
    max-width: 768px;
    margin: 0 auto;
  }
  .courses-title-box {
    flex-direction: row;
    gap: 58px;
    margin-bottom: 50px;
    align-items: flex-start;
    justify-content: space-between;
  }

  .courses-title {
    font-size: 48px;
    line-height: 1.12;
    max-width: 265px;
    letter-spacing: -0.04em;
  }
  .courses-title-span {
    font-size: 48px;
  }
  .courses-text {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    max-width: 381px;
  }
  .courses-item {
    width: calc((100% - 20px) / 2);
    max-width: 342px;
    height: 452px;
  }

  .courses-text-item {
    font-size: 16px;
  }
}

/* ========================1280px====================== */
@media screen and (min-width: 1280px) {
  .our-courses {
    max-width: 1280px;
  }
  .courses-title-box {
    display: flex;
    justify-content: space-between;
  }
  .courses-text {
    max-width: 408px;
  }
  .courses-list {
  }
  .courses-item {
    width: calc((100% - 40px) / 3);
    max-width: 347px;
  }
}
