@import url('./reset.css');

@import url('./global.css');

@import url('./header.css');

@import url('./hero.css');
@import url('./advertisement.css');
@import url('./our-courses.css');
@import url('./our-mentors.css');
@import url('./about-us.css');
@import url('./sign-up.css');
@import url('./reviews.css');

@import url('./footer.css');

:root {
  font-family: DM Sans;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

